<!DOCTYPE html>
<html>
<head>
    <title>Breastfeed Matchmaking System - Recommendations</title>
</head>
<body>
    <h1>Top Similar Donors</h1>
    
    <table>
        <tr>
            <th>Donor ID</th>
            <th>Age</th>
            <th>Dietary Restrictions</th>
            <th>Religion</th>
            <th>Health Condition</th>
            <th>Smoking</th>
            <th>Blood Type</th>
        </tr>
        
        {% for donor in donors.iterrows() %}
        <tr>
            <td>{{ donor[0] }}</td>
            <td>{{ donor[1]['age'] }}</td>
            <td>{{ donor[1]['diet'] }}</td>
            <td>{{ donor[1]['religion'] }}</td>
            <td>{{ donor[1]['health'] }}</td>
            <td>{{ donor[1]['is_smoke'] }}</td>
            <td>{{ donor[1]['blood'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
