<!DOCTYPE html>
<html>
<head>
    <title>Breastfeed Matchmaking System</title>
</head>
<body>
    <h1>Welcome to the Breastfeed Matchmaking System</h1>
    
    <form action="/recommend" method="post">
        <label for="Age">Age:</label>
        <input type="number" name="Age" id="Age" required><br><br>
        
        <label for="Dietary Restrictions">Dietary Restrictions:</label>
        <select name="Dietary Restrictions" id="Dietary Restrictions">
            <option value="No Restrictions">No Restrictions</option>
            <option value="Lactose-free">Lactose-free</option>
            <option value="Gluten-free">Gluten-free</option>
            <option value="Nut-free">Nut-free</option>
            <option value="Egg-free">Egg-free</option>
            <option value="Vegetarian">Vegetarian</option>
        </select><br><br>
        
        <label for="Religion">Religion:</label>
        <select name="Religion" id="Religion">
            <option value="Muslim">Muslim</option>
            <option value="Christian">Christian</option>
            <option value="Catholic">Catholic</option>
            <option value="Hinduism">Hinduism</option>
            <option value="Buddhism">Buddhism</option>
            <option value="Konghucu">Konghucu</option>
        </select><br><br>
        
        <label for="Health Condition">Health Condition:</label>
        <select name="Health Condition" id="Health Condition">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select><br><br>
        
        <label for="is_smoke">Smoke:</label>
        <select name="is_smoke" id="is_smoke">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select><br><br>
        
        <label for="Blood Type">Blood Type:</label>
        <select name="Blood Type" id="Blood Type">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="AB">AB</option>
            <option value="O">O</option>
        </select><br><br>
        
        <label for="Location">Location:</label>
        <input type="text" name="Location" id="Location" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
